body {
  background: #000 url("images/bg.jpg") no-repeat 50% 0;
}

body {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.5;
  font-family: sans-serif;
  color: #202020;
}

#conti {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 70px;
}

#container {
  overflow: hidden;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0px 0px 5px 0px;
}

#images {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  box-shadow: 0px 0px 5px 0px gray;
  max-width: 100%;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: opacity 1s, background-color .2s;
  box-shadow: 0px 0px 2px 0px white inset;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.question {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255,255,255,.6);
  padding: 15px;
  border: 1px solid rgba(255,255,255,.3);
}

.choice {
  cursor: pointer;
}

#highscoreBox {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#highscore {
  max-width: 770px;
  margin: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0px 0px 5px 0px;
}
